@import url(common.css);
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');


html{scroll-behavior: smooth;}

body{font-family: 'Pretendard',sans-serif;}

.popup{
  position: fixed;
  right: 0;
  top: 100px;
  z-index: 1000;
}

/* Top & Bottom Button______________ */
.top{
  position: fixed;
  right: 30px;
  bottom: 100px;
  z-index: 100;
}
.top a{
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid #812991;
  border-radius: 50%;
  backdrop-filter: blur(5px);
  transition: 0.35s;
}
.top a:before{
  content: '\e946';
  font-family: 'xeicon';
  font-size: 25px;
  color: #812991;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 60px;
}
.top a:hover{
  background-color: #812991;
  transform: translateY(-10px);
}
.top a:hover:before{color: #fff;}


/* Header______________ */
header{
  width: 100%;
  height: 130px;
  padding: 20px 0;
  position: relative;
}
nav{
  width: 1200px;
  height: inherit;
  margin: auto;
}
.util_menu{
  font-size: 12px;
  display: flex;
  justify-content: end;
  text-transform: uppercase;
}
.util_menu li:not(:last-child):after{
  content: '|';
  margin: 0 10px;
}
.util_menu li a:hover{
  color: #812991;
}
.gnb{
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav h1{margin-right: 40px;}
.menu{
  display: flex;
  text-align: center;
}
.menu>li{
  margin: 70px 25px 0;
  font-weight: bold;
  transition: 0.35s;
}
.menu>li:hover{
  color: #812991;
  box-shadow:  0 4px 4px -5px black;
}
.menu>.main{
  position: relative;
}
.menu>.main>a{
  font-size: 18px;
  text-transform: uppercase;
}
/* Sub Menu */
.sub_all{
  display: none;
  position: absolute;
  top: 70px;
  z-index: 300;
  width: 100px;
  height: 225px;
}
.sub_all li{
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}
.sub_all li a{
  color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 300;
  text-transform: capitalize;
}
.sub_all li a:hover{color: #ddd;}

.s1{left:-25px;}
.s2{left:-20px;}
.s3{left:-20px;}
.s4{left: 5px;}
.s5{left: 3px;}
.s6{left: -3px;}
.s7{left: 15px;}

.sub_bgbox{
  display: none;
  z-index: 200;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 310px;
  background: rgba(0,0,0,0.8);
}

/* 메인 비주얼 */

main{
  width: 100%;
  height: 450px;
  margin: auto;
  position: relative;
}

/* 이미지 */
.changeimg ul li{
  display: none;
  position: absolute;
  width: 1200px;
  height: 450px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1.5s;
}
.changeimg ul li:first-child{display: block;}

.changeimg ul li.imgVisible{z-index: 100;}
.changeimg ul li:nth-child(1){background-image: url(../image/christmas.jpg);}
.changeimg ul li:nth-child(2){background-image: url(../image/colombia.png);}
.changeimg ul li:nth-child(3){background-image: url(../image/coffine.png);}
.changeimg ul li:nth-child(4){background-image: url(../image/cafe.png);}
.changeimg ul li:nth-child(5){background-image: url(../image/promise.png);}

/* 하단버튼 */
.btn{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.btn ul{display: flex;}
.btn ul li{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  margin: 0 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px inset;
}
.btn ul li.active{background: #812991;}

/* 좌우버튼 */
.side{
  width: 1200px;
  height: 450px;
  margin: auto;
  position: relative;
}
.side_btn{
  font-size: 80px;
  color: #fff;
}
.lbtn,.rbtn{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  z-index: 100;
}
.lbtn{
  left:10px;
  width:65px;
  height: 65px;
  text-shadow: 0 0 5px #666;
  opacity: 0.5;
}
.lbtn:hover{opacity: 1;}

.rbtn{
  right:20px;
  width:65px;
  height: 65px;
  text-shadow: 0 0 5px #666;
  opacity: 0.5;
}
.rbtn:hover{opacity: 1;}

/* 비주얼 텍스트 */
.visual2, .visual4{
  position: absolute;
  top: 50%;
  left: 115px;
  transform: translateY(-50%);
}

.visual2 h2, .visual4 h2{
  font-size: 60px;
}
.visual2 h4{
  font-family: 'Smooch', serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.visual2 p,.visual4 p{
  width: 300px;
  height: 45px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  line-height: 45px;
  background-color: #812991;
  border-radius: 20px;
  transition: 0.35s;
}
.visual2 p:after{
  content: '\e5e1';
  font-family: 'Material Icons Outlined';
  font-size: 12px;
  color: #fff;
  margin-left: 10px;
}
.visual2 p:hover{
  background-color: #191919;
}
.visual4 p:hover{
  background-color: #191919;
}
.visual4 h2 b{color: #812991}
.visual4 h4{
  font-size: 20px;
  font-weight: 400;
  color: #444;
  margin: 10px 0;
}
.visual4 span{
  display: block;
  font-size: 15px;
  color: #777;
  margin-bottom: 10px;
}

/* Section______________ */
section{
  width: 100%;
}
/* About */
@keyframes wave{
  0%{background-position:0 bottom;}
  100%{background-position:100vw bottom;}
}

#about{
  width: 1200px;
  height: 720px;
  background:url('../image/wave.png') repeat-x center bottom;
  animation:wave 70s linear infinite;
  margin: auto;
}
.content1{
  width: 1200px;
  margin: auto;
}
.content1 h2{
  font-size: 64px;
  text-transform: uppercase;
  margin-left: 115px;
  margin-top: 100px;
}
.content1 h2 em{
  font-style: normal;
  color: #812991;
}
.content1 p:nth-of-type(1){
  font-size: 24px;
  margin-left: 115px;
}
.content1 p:nth-of-type(2){
  font-size: 24px;
  text-align: center;
  line-height: 40px;
}
.content1 img{
  display: block;
  margin: auto;
  padding: 50px 0;
  opacity: 0;
  transition: 0.35s;
}

/* Membership */
#membership{
  width: 1200px;
  margin: auto;
}
.content2{
  width: 1200px;
  height: 300px;
  background: url(../image/content1.png) no-repeat center center;
  text-align: end;
}
.content2 h2, .content2 p{
  margin-right: 30px;
}
.content2 h2{
  color: #812991;
  font-size: 64px;
  text-transform: uppercase;
  padding-top: 45px;
}
.content2 p:nth-of-type(1),.content2 p:nth-of-type(3){
  font-size: 24px;
}
.content2 p:nth-of-type(2){
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}

.accordion{
  width: 1200px;
}
.pong{
  width: 1200px;
  height: 80px;
  text-align: center;
  font-size: 24px;
  line-height: 80px;
  background-color: #812991;
  color: #fff;
  cursor: pointer;
}
.pong b{
  font-family: 'Nanum Pen Script', serif;
  font-weight: 400;
  font-size: 30px;
}
.pong:after{
  content: '\e943';
  font-family: xeicon;
  margin: 5px 0 0 5px;
}
.pong.active:after{
  content: '\e946'
}
.pong.active:after{transform: rotate(180deg);}
.pong_info{
  height: 500px;
  background-color: #FDF9F4;
  display: none;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
}
.pong_info p{
  font-weight: bold;
  padding: 60px 0 40px 0;
}
.pong_info span{
  display: block;
  margin-bottom: 50px;
}
.pong_info.active{display: block;}

.appstore{
  width: 1200px;
  height: 150px;
  position: relative;
}
.appstore a{
  position: absolute;
}
.appstore a:first-child{
  top: 0;
  left: 870px;
}
.appstore a:nth-child(2){
  top: 60px;
  left: 870px;
}
.appstore a:last-child{
  top: 0;
  left: 1050px;
}

/* Mall */
.mall{
  width: 1200px;
  height: 900px;
  margin: auto;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.mall h2{
  font-size: 64px;
  color: #812991;
  text-transform: uppercase;
  padding-top: 100px;
}
.mall h4{
  font-size: 24px;
  margin-bottom: 50px;
}
.slideContainer{
  position: absolute;
  left: 0;
  top: 300px;
  width: 1200px;
  height: 400px;
}
.slider1, .slider2{
  display: flex;
  justify-content: start;
  transition: 0.5s;
  position: absolute;
  top: 0;
}
.slider1{left: 0;}
.slider2{left: 1200px;}
.mall_item a img{
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.mall_item{
  margin: 0 20px;
}
.mall_item p{
  margin: 40px 0;
  line-height: 25px;
}
.mall_item p em{
  font-style: normal;
  color: #ddd;
  text-decoration: line-through;
}
.mall_item p i{
  font-style: normal;
  color: red;
}
.gotomall{
  position: absolute;
  top: 750px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  background-color: #812991;
  color: #fff;
  border-radius: 30px;
  transition: 0.35s;
  margin-bottom: 70px;
}
.gotomall:before{
  content: '\e902';
  font-family: xeicon;
  color: #fff;
  margin-right: 10px;
}
.gotomall:hover{
  background-color: #191919;
}

/* New&Best */
@keyframes wave1{
  0%{background-position:0 top;}
  100%{background-position:100vw top;}
}
#newbest{
  width: 1200px;
  height: 1700px;
  background:url('../image/wave1.png') repeat-x center top;
  animation:wave1 70s linear infinite;
  position: relative;
  background-color: #FDF9F4;
  margin: auto;
}
.best{
  width: 1200px;
  height: 1000px;
  margin: auto;
  padding-top: 10px;
}
.best h2{
  text-align: center;
  margin-top: 200px;
  text-transform: uppercase;
  font-size: 64px;
  color: #812991;
}
.best h3{
  font-family: 'Smooch', serif;
  text-transform: capitalize;
  font-size: 250px;
  font-weight: 400;
  color: #812991;
  opacity: 0.6;
  margin: 100px 0 0 110px;
}
.best h4{
font-size: 24px;
font-weight: 400;
margin-left: 110px;
}
.best h4:before{
  content: '';
  float: left;
  margin-right: 30px;
  width: 15px;
  height: 115px;
  background-color: #812991;
}
.best p{
  position: absolute;
  width: 400px;
  height: 400px;
  top: 400px;
  left: 670px;
  font-size: 30px;
  text-align: center;
  line-height: 380px;
  text-transform: capitalize;
  font-weight: bold;
  color: #fff;
  background-color: #812991;
  border-radius: 50%;
  transition: 0.35s;
}
.best p:hover{
  background: url(../image/honeybutterbreadhover.jpg) no-repeat center center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
}
.best span{
  position: absolute;
  top: 610px;
  left: 735px;
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
}
.best img{
  position: absolute;
  top: 550px;
  left: 450px;
  transform: scale(0.7);
}

.new{
  width: 1200px;
  height: 690px;
  margin: auto;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.slideContainer2{
  position: absolute;
  left: 0;
  top: 100px;
  width: 1200px;
  height: 590px;
}
.slider3, .slider4{
  display: flex;
  justify-content: start;
  transition: 0.5s;
  position: absolute;
  top: 0;
}
.slider3{left: 0;}
.slider4{left: 1440px;}
.new_item{
  width: 330px;
  height: 470px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  margin: 0 15px;
  position: relative;
}
.new_item:after{
  content: url(../image/new.png);
  position: absolute;
  top: 20px;
  right: 20px;
}
.new_item a img{
  transform: scale(0.6) translateX(-60px);
}
.new_item p{
  position: absolute;
  top: 355px;
  left: 50%;
  width: 330px;
  transform: translateX(-50%);
  font-size: 20px;
  text-transform: uppercase;
}
.new_item p b{
  color: #812991;
  font-size: 28px;
}

/* Sub Visual */
#subvisual{
  background: url(../image/content4.png) no-repeat;
  width: 1200px;
  height: 300px;
  color: #fff;
  position: relative;
  margin: auto;
}
#subvisual h2{
  font-family: 'Noto Serif KR', serif;
  font-size: 40px;
  font-weight: 200;
  padding-top: 60px;
  padding-left: 150px;
}
#subvisual h4{
  font-size: 20px;
  font-weight: lighter;
  margin: 50px 0 20px;
  padding-left: 150px;
}
#subvisual a{
  display: block;
  text-align: center;
  line-height: 35px;
  width: 150px;
  height: 35px;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #191919;
  border-radius: 20px;
  transition: 0.35s;
  margin-left: 150px;
}
#subvisual a:after{
  content: '\e5e1';
  font-family: 'Material Icons Outlined';
  font-size: 12px;
  color: #fff;
}
#subvisual a:hover{background-color: #812991;}
#subvisual img{
  position: absolute;
  top: 25px;
  right: 80px;
}

/* Map */
#coffinemap{
  width: 1200px;
  text-align: center;
  margin: auto;
  padding-bottom: 100px;
}
#coffinemap h2{
  font-size: 64px;
  text-transform: uppercase;
  color: #812991;
  margin-top: 100px;
}
#coffinemap h4{
  font-size: 24px;
  margin-bottom: 50px;
}
iframe{display: block;margin: auto;}

/* Info */
#info{
  width: 1200px;
  padding-bottom: 100px;
  margin: auto;
}
.info{
  margin: auto;
  width: 800px;
  height: 550px;
  display: flex;
}
.info li{
  flex: 1;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}
.info li:nth-child(1){background: url(../image/info01.jpg) no-repeat center center; background-size: cover;}
.info li:nth-child(2){background: url(../image/info02.jpg) no-repeat center center;  background-size: cover;
}
.info li:nth-child(3){background: url(../image/info03.jpg) no-repeat center center;  background-size: cover;
}
.info li:hover{flex: 3;}

.info_content{
  position: absolute;
  bottom: -350px;
  background-color: #303030;
  color: #fff;
  width: 100%;
  height: 200px;
  text-align: end;
  padding: 35px;
  box-sizing: border-box;
  transition: 0.5s;
  text-transform: uppercase;
}
.info_content h2{
  font-size: 36px;
  margin-bottom: 30px;
}
.info_content p{
  font-size: 20px;
}
.info li:hover .info_content{
  bottom: 0;
  transition-delay: 0.5s;
}

/* Footer______________ */
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;
  background-color: #303030;
}
.f_left, .f_center, .f_right{margin: 0 20px;}
.f_left img{filter: grayscale(1);}
.f_center p{color: #999;}
.fnb li{
  color: #fff;
  display: inline-block;
  margin: 0 20px 30px 0;
}
.fnb li:hover{color: #812991}
address{
  font-style: normal;
  color: #999;
}
.f_right{
  font-size: 30px;
  text-align: end;
}
.fa-brands, .fa-solid{
  text-align: center;
  line-height: 40px;
  color: #fff;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
  font-size: 20px;
}
.fa-facebook-f{background-color: #40508E;}
.fa-instagram{background-color: #A43F00;}
.fa-volume-high{background-color: #666;}